div.countryline {
  display: flex;
  flex-direction: row;
  /*margin: 1px 0px;*/
  padding: 2px 0px;
}

div.countryline:nth-child(odd) {
  background-color: whitesmoke;
}

div.countryline:nth-child(even) {
  background-color: white;
}

div.countrydetail, div.tableHeaderCell {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.tableHeaderCell {
  padding: 10px 0px;
  border: 1px solid gray;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

div#tableBody {
  background-color: black;
}

div.flag {
  width: 150px;
}

div.name {
  width: 300px;
}

div#mainContainer {
  width:900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#tableHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

div#tableContainer {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
  width: 800px;
  border: 1px solid gray;
}

div.controls {
  padding: 10px 0px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.control_container {
  display: flex;
  flex-direction: column;
}
